body {
  margin: 0;
  background: #e5e8e8;
  text-align: left;
}

.banner {
   width:80vw;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 0;
}

img {
  max-width:50%;
  height:auto;
}

.link1:hover {
    background-color: rgba(240,240,240,0.35);
    color: black;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.48), 0 13px 30px 0 rgba(0,0,0,0.50);
}
